<div class="bg-surface border-border border-t">
    <div class="p-6">
        <p class="font-display mb-2 font-semibold tracking-wider uppercase">
            Attributions:
        </p>
        <ul class="text-muted list-inside list-disc space-y-1">
            <li>
                Favicon image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/saturn-and-its-rings-2W-QWAC0mzI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Hero image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@curious_gage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Gage Smith</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/starry-night-photo-M51M2euzYbk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Saturn image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@f3rrari09?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Alessandro Ferrari</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/a-large-group-of-people-watching-a-television-6SZ_zpTt7gE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Apollo 11 image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/astronaut-on-lunar-rover-Ed2AELHKYBw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Hubble Space Telescope image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@hubblespacetelescope?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA Hubble Space Telescope</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/a-satellite-in-orbit-with-the-earth-in-the-background-63eIRNS-hHc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Phases in Sequence image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@elijahbcrouch"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Elijah Crouch</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Cratered Surface image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Earthrise image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Moonrise image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@maksim_taawy"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Maksim Samuilionak</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Sputnik 1 image by
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/User:Butko"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Andrew Butko</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Первый_в_мире_искусственный_спутник_Земли.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-sa/3.0/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-SA 3.0</a
                >
            </li>
            <li>
                Vostok 1 image originally uploaded by
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/de:User:HPH"
                    target="_blank"
                    rel="noopener noreferrer"
                    >HPH</a
                >
                on German Wikipedia, transferred to
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=176728"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-sa/3.0/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-SA 3.0</a
                >
            </li>
            <li>
                Apollo 11 image by
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/Neil_Armstrong"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Neil A. Armstrong</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=170640780"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, released into the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/Commons:Copyright_rules_by_subject_matter#United_States"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
        </ul>
    </div>

    <hr class="border-border my-6" />

    <div class="text-muted pb-6 text-center text-sm">
        <p>© 2026 | whoami</p>
    </div>
</div>
