<div class="bg-surface border-border border-t">
    <div class="p-6">
        <p class="font-display mb-2 font-semibold tracking-wider uppercase">
            Attributions:
        </p>
        <ul class="text-muted list-inside list-disc space-y-1">
            <li>
                Favicon image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/saturn-and-its-rings-2W-QWAC0mzI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Hero image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@curious_gage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Gage Smith</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/starry-night-photo-M51M2euzYbk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Saturn image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@f3rrari09?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Alessandro Ferrari</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/a-large-group-of-people-watching-a-television-6SZ_zpTt7gE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Apollo 11 image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/astronaut-on-lunar-rover-Ed2AELHKYBw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Hubble Space Telescope image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@hubblespacetelescope?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA Hubble Space Telescope</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com/photos/a-satellite-in-orbit-with-the-earth-in-the-background-63eIRNS-hHc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Phases in Sequence image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@elijahbcrouch"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Elijah Crouch</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Cratered Surface image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Earthrise image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@nasa"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Moonrise image by
                <a
                    class="footer-link"
                    href="https://unsplash.com/@maksim_taawy"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Maksim Samuilionak</a
                >
                on
                <a
                    class="footer-link"
                    href="https://unsplash.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Unsplash</a
                >
            </li>
            <li>
                Sputnik 1 image by
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/User:Butko"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Andrew Butko</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Первый_в_мире_искусственный_спутник_Земли.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-sa/3.0/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-SA 3.0</a
                >
            </li>
            <li>
                Vostok 1 image originally uploaded by
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/de:User:HPH"
                    target="_blank"
                    rel="noopener noreferrer"
                    >HPH</a
                >
                on German Wikipedia, transferred to
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=176728"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-sa/3.0/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-SA 3.0</a
                >
            </li>
            <li>
                Apollo 11 image by
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/Neil_Armstrong"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Neil A. Armstrong</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=170640780"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=170640780#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Voyager 1 image by
                <a
                    class="footer-link"
                    href="https://solarsystem.nasa.gov/multimedia/display.cfm?IM_ID=2194"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/JPL</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=126674"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?curid=126674#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Hubble Space Telescope image by
                <a
                    class="footer-link"
                    href="https://spaceflight.nasa.gov/gallery/images/shuttle/sts-125/html/s125e012050.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Hubble_2009_close-up_2.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Hubble_2009_close-up_2.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                International Space Station image by
                <a
                    class="footer-link"
                    href="https://spaceflight.nasa.gov/gallery/images/shuttle/sts-133/html/s133e010447.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:STS-133_International_Space_Station_after_undocking_5.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:STS-133_International_Space_Station_after_undocking_5.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Falcon 9 First Landing image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/spacex/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >SpaceX</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/spacex/32153432924/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-nc/2.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-NC 2.0</a
                >
            </li>
            <li>
                Crew Dragon Demo-2 image by
                <a
                    class="footer-link"
                    href="https://www.wikidata.org/wiki/Q71582571"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/Joel Kowsky</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:SpaceX_Demo-2_Launch_(NHQ202005300044).jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:SpaceX_Demo-2_Launch_(NHQ202005300044).jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                James Webb Space Telescope image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/nasawebbtelescope/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA's James Webb Space Telescope</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/nasawebbtelescope/33433274343"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by/2.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY 2.0</a
                >
            </li>
            <li>
                Artemis I image by
                <a
                    class="footer-link"
                    href="https://www.wikidata.org/wiki/Q71171454"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/Bill Ingalis</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Artemis_I_Launch_(NHQ202211160203).jpeg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Artemis_I_Launch_(NHQ202211160203).jpeg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Mercury image by
                <a
                    class="footer-link"
                    href="https://photojournal.jpl.nasa.gov/catalog/PIA11364"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/Johns Hopkins University Applied Physics
                    Laboratory/Arizona State University/Carnegie Institution of
                    Washington</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Mercury_in_true_color.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Mercury_in_true_color.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Venus image by
                <a
                    class="footer-link"
                    href="https://photojournal.jpl.nasa.gov/catalog/PIA10124"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/Johns Hopkins University Applied Physics
                    Laboratory/Carnegie Institution of Washington</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Venus_2_Approach_Image.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Venus_2_Approach_Image.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Earth image by NASA/Apollo 17 crew; taken by either
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/en:Harrison_Schmitt"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Harrison Schmitt</a
                >
                or
                <a
                    class="footer-link"
                    href="https://en.wikipedia.org/wiki/en:Ronald_Evans_(astronaut)"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Ron Evans
                </a>
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Mars image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/kevinmgill/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Kevin Gill</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/kevinmgill/51831155718"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by/2.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY 2.0</a
                >
            </li>
            <li>
                Jupiter image by
                <a
                    class="footer-link"
                    href="https://hubblesite.org/contents/media/images/2024/009/01HPMN3ZGXFN1E0M1W5Y8AVCAM?news=true"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/STSCI (S.T.A.R.S)</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Jupiter_OPAL_2024.png"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Jupiter_OPAL_2024.png#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Saturn image by
                <a
                    class="footer-link"
                    href="https://www.planetary.org/space-images/saturn_globe_rings_open_ugodan"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA / JPL-Caltech / SSI / color composite by Gordan
                    Ugarkovic</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Saturn_global_view_from_Cassini,_rings_open_Better_Colour.png"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Saturn_global_view_from_Cassini,_rings_open_Better_Colour.png#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Uranus image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/197038812@N04/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >zelario12</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/197038812@N04/53449450202"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, dedicated to the public domain under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/publicdomain/zero/1.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC0 1.0 Universal</a
                >
            </li>
            <li>
                Neptune image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/197038812@N04/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >zelario12</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/197038812@N04/53446862462"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, dedicated to the public domain under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/publicdomain/zero/1.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC0 1.0 Universal</a
                >
            </li>
            <li>
                Ceres image by
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/132160802@N06/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Aster Cowart</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.flickr.com/photos/132160802@N06/22381131691"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Flickr</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-nc/2.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-NC 2.0</a
                >
            </li>
            <li>
                Pluto image by
                <a
                    class="footer-link"
                    href="http://pluto.jhuapl.edu/Galleries/Featured-Images/image.php?page=1&gallery_id=2&image_id=543"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA/Johns Hopkins University Applied Physics
                    Laboratory/Southwest Research Institute/Alex Parker</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Pluto_in_True_Color_-_High-Res.png"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Pluto_in_True_Color_-_High-Res.png#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Haumea image by
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/User:Jin_Zan"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Jin Zan</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Haumea,_Celestia.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by-sa/3.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY-SA 3.0</a
                >
            </li>
            <li>
                Makemake image by
                <a
                    class="footer-link"
                    href="http://hubblesite.org/newscenter/newsdesk/archive/releases/2006/16/image/d"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Ann Feild (Space Telescope Science Institute)</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:2005FY9art.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:2005FY9art.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >; AI-upscaled.
            </li>
            <li>
                Eris image by
                <a
                    class="footer-link"
                    href="http://www.eso.org/public/images/eso1142a/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >ESO</a
                >
                on
                <a
                    class="footer-link"
                    href="https://www.planetary.org/space-images/eris"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Planetary Society</a
                >, licensed under
                <a
                    class="footer-link"
                    href="http://creativecommons.org/licenses/by/3.0/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY 3.0</a
                >
            </li>
            <li>
                Asteroid Belt image by
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/w/index.php?title=User:Joshua_Doubek&action=edit&redlink=1"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Joshua Doubek</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Asteroid_Belt_around_Earth.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Asteroid_Belt_around_Earth.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
            <li>
                Kuiper Belt image by
                <a
                    class="footer-link"
                    href="https://noirlab.edu/public/images/rubin-Oort-Cloud-and-Kuiper-Belt"
                    target="_blank"
                    rel="noopener noreferrer"
                    >RubinObs/NOIRLab/SLAC/NSF/DOE/AURA</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:Rubin_Oort_Cloud_and_Kuiper_Belt_Illustration_(rubin-Oort-Cloud-and-Kuiper-Belt).jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, licensed under
                <a
                    class="footer-link"
                    href="https://creativecommons.org/licenses/by/4.0/deed.en"
                    target="_blank"
                    rel="noopener noreferrer"
                    >CC BY 4.0</a
                >
            </li>
            <li>
                Oort Cloud image by
                <a
                    class="footer-link"
                    href="https://photojournal.jpl.nasa.gov/catalog/PIA17046"
                    target="_blank"
                    rel="noopener noreferrer"
                    >NASA / JPL-Caltech</a
                >
                on
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:PIA17046_-_Voyager_1_Goes_Interstellar.jpg"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Wikimedia Commons</a
                >, in the
                <a
                    class="footer-link"
                    href="https://commons.wikimedia.org/wiki/File:PIA17046_-_Voyager_1_Goes_Interstellar.jpg#Licensing"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Public Domain</a
                >
            </li>
        </ul>
    </div>

    <hr class="border-border my-6" />

    <div class="text-muted pb-6 text-center text-sm">
        <p>© 2026 | whoami</p>
    </div>
</div>
